* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	--color-alpha: 1;
	--s-shift: -10%;
	--l-shift: 10%;

	--color-poison: hsl(
		273 calc(60% + var(--s-shift)) calc(53% + var(--l-shift)) / var(--color-alpha)
	);
	--color-grass: hsl(96 calc(78% + var(--s-shift)) calc(36% + var(--l-shift)) / var(--color-alpha));
	--color-fire: hsl(1 calc(78% + var(--s-shift)) calc(49% + var(--l-shift)) / var(--color-alpha));
	--color-water: hsl(
		217 calc(88% + var(--s-shift)) calc(59% + var(--l-shift)) / var(--color-alpha)
	);
	--color-flying: hsl(
		212 calc(80% + var(--s-shift)) calc(75% + var(--l-shift)) / var(--color-alpha)
	);
	--color-bug: hsl(66 calc(100% + var(--s-shift)) calc(32% + var(--l-shift)) / var(--color-alpha));
	--color-normal: hsl(90 calc(1% + var(--s-shift)) calc(63% + var(--l-shift)) / var(--color-alpha));
	--color-electric: hsl(
		47 calc(100% + var(--s-shift)) calc(48% + var(--l-shift)) / var(--color-alpha)
	);
	--color-ice: hsl(194 calc(100% + var(--s-shift)) calc(68% + var(--l-shift)) / var(--color-alpha));
	--color-fighting: hsl(
		31 calc(100% + var(--s-shift)) calc(48% + var(--l-shift)) / var(--color-alpha)
	);
	--color-ground: hsl(
		30 calc(76% + var(--s-shift)) calc(31% + var(--l-shift)) / var(--color-alpha)
	);
	--color-psychic: hsl(
		339 calc(77% + var(--s-shift)) calc(57% + var(--l-shift)) / var(--color-alpha)
	);
	--color-rock: hsl(54 calc(23% + var(--s-shift)) calc(59% + var(--l-shift)) / var(--color-alpha));
	--color-ghost: hsl(
		294 calc(29% + var(--s-shift)) calc(35% + var(--l-shift)) / var(--color-alpha)
	);
	--color-dragon: hsl(
		235 calc(74% + var(--s-shift)) calc(61% + var(--l-shift)) / var(--color-alpha)
	);
	--color-dark: hsl(10 calc(13% + var(--s-shift)) calc(27% + var(--l-shift)) / var(--color-alpha));
	--color-steel: hsl(
		198 calc(38% + var(--s-shift)) calc(57% + var(--l-shift)) / var(--color-alpha)
	);
	--color-fairy: hsl(
		295 calc(83% + var(--s-shift)) calc(69% + var(--l-shift)) / var(--color-alpha)
	);

	--color-blue-lighter: hsl(190, 100%, 60%);
	--color-blue: hsl(190, 100%, 50%);
	--color-blue-darker: hsl(190, 100%, 40%);

	--color-white-lighter: hsl(0, 0%, 100%);
	--color-white: hsl(0, 0%, 95%);
	--color-white-darker: hsl(0, 0%, 90%);

	--color-black-lighter: hsl(0, 0%, 25%);
	--color-black: hsl(0, 0%, 15%);
	--color-black-darker: hsl(0, 0%, 5%);

	--border-radius: 15px;
	--fs-normal: clamp(1rem, 1.05rem + 0.2vw, 1.125rem);
	--z-loading-spinner: 100;
	--z-header: 25;
	--z-fixed: 50;

	scroll-behavior: smooth;
}

body {
	font-size: var(--fs-normal);
	font-family: "Bitter";
	min-height: 100dvh;

	background-color: var(--color-blue);
}

body:has(#bigCardOverlay:not(.d-none)) {
	overflow: hidden;
}

header,
footer,
section {
	padding-inline: max(24px, calc(50% - 1600px / 2));
	width: 100%;
}

select,
input,
button {
	border: unset;
	background: none;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
}

img {
	max-width: 100%;
}

button {
	transition: scale 75ms;
}

button:active {
	scale: 0.9;
}

.hidden {
	visibility: hidden;
}

.d-none {
	display: none;
}

h1 {
	font-size: clamp(2.25rem, 2.5rem + 1vw, 3rem);
	font-weight: bold;
	color: var(--color-black-darker);
}

h2 {
	font-size: clamp(2rem, 2.25rem + 0.7vw, 2.5rem);
	font-weight: bold;
	color: var(--color-black-darker);
}

h3 {
	font-size: clamp(1.5rem, 1.6rem + 0.4vw, 1.75rem);
	font-weight: bold;
}

h4 {
	font-size: clamp(1.125rem, 1.2rem + 0.2vw, 1.3rem);
	text-align: center;
	font-weight: bold;
	text-wrap: balance;
}

abbr {
	display: flex;
	justify-content: center;
	align-items: center;
}
