* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	--color-poison: hsl(273, 60%, 53%);
	--color-grass: hsl(96, 78%, 36%);
	--color-fire: hsl(1, 78%, 49%);
	--color-water: hsl(217, 88%, 59%);
	--color-flying: hsl(212, 80%, 75%);
	--color-bug: hsl(66, 100%, 32%);
	--color-normal: hsl(90, 1%, 63%);
	--color-electric: hsl(47, 100%, 48%);
	--color-ice: hsl(194, 100%, 68%);
	--color-fighting: hsl(31, 100%, 48%);
	--color-ground: hsl(30, 76%, 31%);
	--color-psychic: hsl(339, 77%, 57%);
	--color-rock: hsl(54, 23%, 59%);
	--color-ghost: hsl(294, 29%, 35%);
	--color-dragon: hsl(235, 74%, 61%);
	--color-dark: hsl(10, 13%, 27%);
	--color-steel: hsl(198, 38%, 57%);
	--color-fairy: hsl(295, 83%, 69%);

	--color-white-lighter: hsl(0, 0%, 100%);
	--color-white: hsl(0, 0%, 95%);
	--color-white-darker: hsl(0, 0%, 90%);

	--color-black-lighter: hsl(0, 0%, 25%);
	--color-black: hsl(0, 0%, 15%);
	--color-black-darker: hsl(0, 0%, 5%);

	--border-radius: 15px;
	--fs-normal: clamp(1rem, 1.05rem + 0.2vw, 1.125rem);
	--z-loading-spinner: 100;
	--z-fixed: 50;

	scroll-behavior: smooth;
}

body {
	font-size: var(--fs-normal);
	font-family: "Bitter";
	min-height: 100dvh;
}

header,
footer,
section {
	padding-inline: max(24px, calc(50% - 1600px / 2));
	width: 100%;
}

select,
input,
button {
	border: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
}

button {
	transition: scale 225ms;
}

button:active {
	scale: 0.9;
}

.hidden {
	visibility: hidden;
}

.d-none {
	display: none;
}

h1 {
	font-size: clamp(2.25rem, 2.5rem + 1vw, 3rem);
	font-weight: bold;
	color: var(--color-black-darker);
}

h2 {
	font-size: clamp(2rem, 2.25rem + 0.7vw, 2.5rem);
	font-weight: bold;
	color: var(--color-black-darker);
}

h3 {
	font-size: clamp(1.5rem, 1.6rem + 0.4vw, 1.75rem);
	font-weight: bold;
}

h4 {
	font-size: clamp(1.125rem, 1.2rem + 0.2vw, 1.3rem);
	text-align: center;
	font-weight: bold;
	text-wrap: balance;
}
