.poison {
	background-color: var(--color-poison);
}

.grass {
	background-color: var(--color-grass);
}

.fire {
	background-color: var(--color-fire);
}

.water {
	background-color: var(--color-water);
}

.flying {
	background-color: var(--color-flying);
}

.bug {
	background-color: var(--color-bug);
}

.normal {
	background-color: var(--color-normal);
}

.electric {
	background-color: var(--color-electric);
}

.ice {
	background-color: var(--color-ice);
}

.fighting {
	background-color: var(--color-fighting);
}

.ground {
	background-color: var(--color-ground);
}

.psychic {
	background-color: var(--color-psychic);
}

.rock {
	background-color: var(--color-rock);
}

.ghost {
	background-color: var(--color-ghost);
}

.dragon {
	background-color: var(--color-dragon);
}

.dark {
	background-color: var(--color-dark);
}

.steel {
	background-color: var(--color-steel);
}

.fairy {
	background-color: var(--color-fairy);
}

.poison.grass {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.poison {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.fire {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.poison {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.water {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.poison {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.flying {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.poison {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.bug {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.poison {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.normal {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.poison {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.electric {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.poison {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.ice {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.poison {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.fighting {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.poison {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.ground {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.poison {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.psychic {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.poison {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.rock {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.poison {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.ghost {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.poison {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.dragon {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.poison {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.dark {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.poison {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.steel {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.poison {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.poison.fairy {
	background: linear-gradient(
		to right,
		var(--color-poison) 0%,
		var(--color-poison) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.poison {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-poison) 50%,
		var(--color-poison) 100%
	);
}
.grass.fire {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.grass {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.water {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.grass {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.flying {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.grass {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.bug {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.grass {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.normal {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.grass {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.electric {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.grass {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.ice {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.grass {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.fighting {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.grass {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.ground {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.grass {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.psychic {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.grass {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.rock {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.grass {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.ghost {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.grass {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.dragon {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.grass {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.dark {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.grass {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.steel {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.grass {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.grass.fairy {
	background: linear-gradient(
		to right,
		var(--color-grass) 0%,
		var(--color-grass) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.grass {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-grass) 50%,
		var(--color-grass) 100%
	);
}
.fire.water {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.fire {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.flying {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.fire {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.bug {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.fire {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.normal {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.fire {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.electric {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.fire {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.ice {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.fire {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.fighting {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.fire {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.ground {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.fire {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.psychic {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.fire {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.rock {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.fire {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.ghost {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.fire {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.dragon {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.fire {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.dark {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.fire {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.steel {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.fire {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.fire.fairy {
	background: linear-gradient(
		to right,
		var(--color-fire) 0%,
		var(--color-fire) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.fire {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-fire) 50%,
		var(--color-fire) 100%
	);
}
.water.flying {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.water {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.bug {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.water {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.normal {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.water {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.electric {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.water {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.ice {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.water {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.fighting {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.water {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.ground {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.water {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.psychic {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.water {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.rock {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.water {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.ghost {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.water {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.dragon {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.water {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.dark {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.water {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.steel {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.water {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.water.fairy {
	background: linear-gradient(
		to right,
		var(--color-water) 0%,
		var(--color-water) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.water {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-water) 50%,
		var(--color-water) 100%
	);
}
.flying.bug {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.flying {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.normal {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.flying {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.electric {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.flying {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.ice {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.flying {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.fighting {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.flying {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.ground {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.flying {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.psychic {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.flying {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.rock {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.flying {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.ghost {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.flying {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.dragon {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.flying {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.dark {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.flying {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.steel {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.flying {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.flying.fairy {
	background: linear-gradient(
		to right,
		var(--color-flying) 0%,
		var(--color-flying) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.flying {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-flying) 50%,
		var(--color-flying) 100%
	);
}
.bug.normal {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.bug {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.electric {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.bug {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.ice {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.bug {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.fighting {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.bug {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.ground {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.bug {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.psychic {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.bug {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.rock {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.bug {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.ghost {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.bug {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.dragon {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.bug {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.dark {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.bug {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.steel {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.bug {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.bug.fairy {
	background: linear-gradient(
		to right,
		var(--color-bug) 0%,
		var(--color-bug) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.bug {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-bug) 50%,
		var(--color-bug) 100%
	);
}
.normal.electric {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.normal {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.ice {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.normal {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.fighting {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.normal {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.ground {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.normal {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.psychic {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.normal {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.rock {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.normal {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.ghost {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.normal {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.dragon {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.normal {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.dark {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.normal {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.steel {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.normal {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.normal.fairy {
	background: linear-gradient(
		to right,
		var(--color-normal) 0%,
		var(--color-normal) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.normal {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-normal) 50%,
		var(--color-normal) 100%
	);
}
.electric.ice {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.electric {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.fighting {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.electric {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.ground {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.electric {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.psychic {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.electric {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.rock {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.electric {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.ghost {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.electric {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.dragon {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.electric {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.dark {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.electric {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.steel {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.electric {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.electric.fairy {
	background: linear-gradient(
		to right,
		var(--color-electric) 0%,
		var(--color-electric) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.electric {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-electric) 50%,
		var(--color-electric) 100%
	);
}
.ice.fighting {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.ice {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.ground {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.ice {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.psychic {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.ice {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.rock {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.ice {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.ghost {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.ice {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.dragon {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.ice {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.dark {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.ice {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.steel {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.ice {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.ice.fairy {
	background: linear-gradient(
		to right,
		var(--color-ice) 0%,
		var(--color-ice) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.ice {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-ice) 50%,
		var(--color-ice) 100%
	);
}
.fighting.ground {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.fighting {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.psychic {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.fighting {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.rock {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.fighting {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.ghost {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.fighting {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.dragon {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.fighting {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.dark {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.fighting {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.steel {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.fighting {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.fighting.fairy {
	background: linear-gradient(
		to right,
		var(--color-fighting) 0%,
		var(--color-fighting) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.fighting {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-fighting) 50%,
		var(--color-fighting) 100%
	);
}
.ground.psychic {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.ground {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.rock {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.ground {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.ghost {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.ground {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.dragon {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.ground {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.dark {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.ground {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.steel {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.ground {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.ground.fairy {
	background: linear-gradient(
		to right,
		var(--color-ground) 0%,
		var(--color-ground) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.ground {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-ground) 50%,
		var(--color-ground) 100%
	);
}
.psychic.rock {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.psychic {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.ghost {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.psychic {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.dragon {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.psychic {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.dark {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.psychic {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.steel {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.psychic {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.psychic.fairy {
	background: linear-gradient(
		to right,
		var(--color-psychic) 0%,
		var(--color-psychic) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.psychic {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-psychic) 50%,
		var(--color-psychic) 100%
	);
}
.rock.ghost {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.rock {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.dragon {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.rock {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.dark {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.rock {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.steel {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.rock {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.rock.fairy {
	background: linear-gradient(
		to right,
		var(--color-rock) 0%,
		var(--color-rock) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.rock {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-rock) 50%,
		var(--color-rock) 100%
	);
}
.ghost.dragon {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.ghost {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.dark {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.ghost {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.steel {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.ghost {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.ghost.fairy {
	background: linear-gradient(
		to right,
		var(--color-ghost) 0%,
		var(--color-ghost) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.ghost {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-ghost) 50%,
		var(--color-ghost) 100%
	);
}
.dragon.dark {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.dragon {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.steel {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.dragon {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dragon.fairy {
	background: linear-gradient(
		to right,
		var(--color-dragon) 0%,
		var(--color-dragon) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.dragon {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-dragon) 50%,
		var(--color-dragon) 100%
	);
}
.dark.steel {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
.steel.dark {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.dark.fairy {
	background: linear-gradient(
		to right,
		var(--color-dark) 0%,
		var(--color-dark) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.dark {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-dark) 50%,
		var(--color-dark) 100%
	);
}
.steel.fairy {
	background: linear-gradient(
		to right,
		var(--color-steel) 0%,
		var(--color-steel) 50%,
		var(--color-fairy) 50%,
		var(--color-fairy) 100%
	);
}
.fairy.steel {
	background: linear-gradient(
		to right,
		var(--color-fairy) 0%,
		var(--color-fairy) 50%,
		var(--color-steel) 50%,
		var(--color-steel) 100%
	);
}
